<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>cargo_crev_review</title>
    <meta name="Description" content="cargo_crev_review" />
    <link rel="stylesheet" data-su_css_route="href" href="css/cargo_crev_reviews.css" />
    <meta name="viewport" content="width = device-width,initial-scale = 1.0" />
    <link rel="shortcut icon" type="image/x-icon" data-su_favicon_route="href" href="favicon.png" />
</head>

<body>
    Hello world!
</body>

</html>